
# OSX
.DS_Store
.AppleDouble
.LSOverride
.idea

# Thumbnails
._*

# Cmake Files
cmake-build-debug
CMakeScripts
Testing
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
MachineLearning.cbp

# Build
main

# Code coverage helper files
.gcda
.gcno
coverage/index*
!coverage/index.html

# Recycle Bin used on file shares
*.gcda
*.gcno
